
@{
    ViewData["Title"] = "Home Page";
}


		<section id="all_list">
			<div class="container-fluid">
				<h2>TV APP ADMIN PANEL</h2>
				<div class= "row">
					
					<!-- Country Panel -->
					<div class="col-md-3 col-sm-12">
						<h5> COUNTRY </h5>
						<ul class="list-group root" id="showCountry">
							
							<li class="list-group-item  active">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#country"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon" data-toggle="modal" 
								data-target="#delete"></i></li>
							
							<li class="list-group-item  ">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#country"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon"></i></li>
							
							<li class="list-group-item ">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#country"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon"></i></li>
							
							<li class="list-group-item">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#country"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon"></i></li>	
						</ul>
						<button type="button" class="btn btn-success btn-block" data-toggle="modal" 
						data-target="#country"><i class="fas fa-plus"></i></button>
					</div>
					<!-- End -->

					
					<!-- Chennel Category panel -->

					<div class="col-md-3 col-sm-12">
						<h5> CHANNEL CATEGORY</h5>
						<ul class="list-group root">
							
							
							<li class="list-group-item  active">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#channel_category"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon" data-toggle="modal" 
								data-target="#delete"></i></li>
							
							<li class="list-group-item  ">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#myModal"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon"></i></li>
							
							<li class="list-group-item ">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#myModal"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon"></i></li>
							
							<li class="list-group-item">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#myModal"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon"></i></li>	
						</ul>
						<button type="button" class="btn btn-success btn-block" data-toggle="modal" 
								data-target="#channel_category"><i class="fas fa-plus"></i></button>
					</div>
					<!-- End -->
					
					<!-- Chennel List Panel -->
					<div class="col-md-3 col-sm-12">
						<h5> CHANNEL LIST </h5>
						<ul class="list-group root">
							
							
							<li class="list-group-item  active">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#channel_list"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon" data-toggle="modal" 
								data-target="#delete"></i></li>
							
							<li class="list-group-item  ">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#myModal"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon"></i></li>
							
							<li class="list-group-item ">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#myModal"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon"></i></li>
							
							<li class="list-group-item">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#myModal"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon"></i></li>	
						</ul>
						<button type="button" class="btn btn-success btn-block" data-toggle="modal" 
								data-target="#channel_list"><i class="fas fa-plus"></i></button>
					</div>
					<!-- End -->

					<!-- Links Panel -->
					<div class="col-md-3 col-sm-12">
						<h5> CHANNEL LINK </h5>
						<ul class="list-group root">
							
							
							<li class="list-group-item  active">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#channel_link"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon" data-toggle="modal" 
								data-target="#delete"></i></li>
							
							<li class="list-group-item  ">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#myModal"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon"></i></li>
							
							<li class="list-group-item ">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#myModal"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon"></i></li>
							
							<li class="list-group-item">
								<i class="fas fa-edit edit-icon" data-toggle="modal" 
								data-target="#myModal"></i>
								
								Cras justo odio 
								
								
							<i class="fas fa-trash-alt trash-icon"></i></li>	
						</ul>
						<button type="button" class="btn btn-success btn-block" data-toggle="modal" 
								data-target="#channel_link"><i class="fas fa-plus"></i></button>
					</div>
					<!-- End -->
					
				</div>
			</div>
		</section>
		
		
		
		<!--Start Country Modal1 -->
		<!-- Modal -->
		<div class="modal fade" id="country" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="header">
						<h5>COUNTRY</h5>
						
					</div>           
						<form id="countryForm">
							<div class="modal-body">
									<div class="form-group">
										<label for="CountryName"></label>
										<input type="text" name="CountryName" placeholder="Type a country name" class="form-control"/>
										<!-- <input type="text" class="form-control" id="inputName" placeholder="Type a country name"> -->
									</div>
									<div class="form-group">
										<label for="LogoLink"></label>
										<input type="text" name="LogoLink" placeholder="Type a logo link" class="form-control"/>
										<!-- <input type="text" class="form-control" id="inputLogolink" placeholder="Type a logo link"> -->
									</div>
								
							</div>
							<div class="modal-footer">
								<!-- <button formaction="/Country/AddCountry" formmethod="post" class="btn btn-success">Add</button>
								<button formaction="/Country/EditCountry" formmethod="post" class="btn btn-success">Update</button> -->
								<button type="reset" class="btn btn-success" id="btnSubmit">Add</button>
								<!-- <button type="submit" class="btn btn-success">Add</button> -->
								<button type="submit" class="btn btn-success">Update</button>
								<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
								
								<!-- <button asp-action="Register" asp-controller="Account">sign up</button> -->
							</div>
						</form>	
					</div>
			</div>
		</div>
		<!--End Country Modal1 -->
		
		
		<!--Start Channel category Modal1 -->
		<!-- Modal -->
		<div class="modal fade" id="channel_category" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="header">
						<h5>CLANNEL CATEGORY</h5>
						
					</div>
					<div class="modal-body">

						<form id="ChennelCategory">                    
							<div class="form-group">
								<label for="CategoryType"></label>
								<input type="text" name="CategoryType" placeholder="Type a channel category" class="form-control"/>
								<!-- <label for="inputName">Name</label>
								<input type="text" class="form-control" id="inputName" placeholder="Type a channel category"> -->
							</div>
							<div class="form-group">
								<label for="LogoLink"></label>
								<input type="text" name="LogoLink" placeholder="Type a logo link" class="form-control"/>
								<!-- <label for="inputLogolink">Logo Link</label>
								<input type="text" class="form-control" id="inputLogolink" placeholder="Type a logo link"> -->
							</div>
						</form>		
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" id="submit_btn">Add</button>
						<!-- <button type="submit" class="btn btn-success">Update</button> -->
						<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<!--End Channel category Modal1 -->
		
		
		
		<!--Start Channel List Modal1 -->
		<!-- Modal -->
		<div class="modal fade" id="channel_list" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="header">
						<h5>CHANNEL LIST</h5>
						
					</div>
					<div class="modal-body">
						<form asp-action="" asp-controller="">
							<div class="form-group">
								<label for="ChennelName"></label>
								<input type="text" name="ChennelName" placeholder="Type a channel list" class="form-control"/>
								<!-- <input type="text" class="form-control" id="inputName" placeholder="Type a channel list"> -->
							</div>
							<div class="form-group">
								<label for="LogoLink"></label>
								<input type="text" name="LogoLink" placeholder="Type a logo link" class="form-control"/>
								<!-- <input type="text" class="form-control" id="inputLogolink" placeholder="Type a logo link"> -->
							</div>
						</form>		
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">Add</button>
						<!-- <button type="submit" class="btn btn-success">Update</button> -->
						<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!--End Channel List Modal1 -->
		
		
		
		<!--Start Channel Link Modal1 -->
		<div class="modal fade" id="channel_link" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="header">
						<h5>CHANNEL LINK</h5>
						
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="LinkName"></label>
								<input type="text" name="LinkName" placeholder="Type a link name" class="form-control"/>
								<!-- <label for="inputName">Name</label>
								<input type="text" class="form-control" id="inputName" placeholder="Type a link name"> -->
							</div>
							
							<div class="form-group">
								<label for="LinkString"></label>
								<input type="text" name="LinkString" placeholder="Type a link" class="form-control"/>
								<!-- <label for="inputLink">Channel Link</label>
								<input type="text" class="form-control" id="inputLink" placeholder="Type a link"> -->
							</div>
							<div class="form-group">
								<label for="Type"></label>
								<input type="text" name="Type" placeholder="Write a type" class="form-control"/>
								<!-- <label for="inputType">Type</label>
								<input type="text" class="form-control" id="inputType" placeholder="Write a type"> -->
							</div>
							<div class="form-group">
								<label for="Quality"></label>
								<input type="text" name="Quality" placeholder="Type quality" class="form-control"/>
								<!-- <label for="inputQuality">Quality</label>
								<input type="text" class="form-control" id="inputQuality" placeholder="Type quality"> -->
							</div>
						</form>		
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">Add</button>
						<!-- <button type="submit" class="btn btn-success">Update</button> -->
						<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!--End Channel Link Modal1 -->
		
		
		
		
		
		<!--Start Delete Modal1 -->
		<div class="modal" id="delete">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="header">
						<h5>DELETE</h5>
					</div>
					<div class="modal-body">
					<b>You want to delete this?</b>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success">Yes</button>
						<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<!--End Delete Modal1 -->



<!-- Country Code -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function(){
		loadData();
        $("#btnSubmit").click(function(){
            var data = $("#countryForm").serialize();
        
            $.ajax({
                type: "POST",
                url: "/Country/AddCountry",
                data: data,
                success: function(response){
                    if(response.res){
						$('#showCountry').append(
							"<li class='list-group-item'><i class='fas fa-edit edit-icon' data-toggle='modal' data-target='#country'></i>ID --"+response.payload.id +" CountryName --"+response.payload.countryName+"<i class='fas fa-trash-alt trash-icon' data-toggle='modal' data-target='#delete'></i></li>"
						);
					}
                }
			});
		});
	});
	
	function loadData(){
		$.getJSON("/Country/AllCountry", function(obj){
			$.each(obj, function(key, value) {
				$("#showCountry").append(

					"<li class='list-group-item'><i class='fas fa-edit edit-icon' data-toggle='modal' data-target='#country'></i>ID --"+value.id +" CountryName --"+value.countryName+"<i class='fas fa-trash-alt trash-icon' data-toggle='modal' data-target='#delete'></i></li>"
					
				)
			})
		});
	}

	$('')

</script>



<!-- Chennel Category Code -->
<script>
    // $(document).ready(function(){
    //     $(document).on('click', '#submit_btn', function(){
    //         var categoryType = $('#CategoryType').val();
    //         var logoLink = $('#LogoLink').val();

    //         $.ajax({
    //             url: 'ChennelCategory/AddCategory',
    //             type: 'POST',
    //             data: {
    //                 'categoryType': categoryType,
    //                 'logolink' : logoLink
    //             },
    //             success: function(response){
    //                 $('#CategoryType').val();
    //                 $('#LogoLink').val();
    //             }
    //         });
    //     });
    // });
</script>


<!-- Fetch Country Code -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
	
	// $.get("/Country/GetAllCountry",null,Databind);
	// function Databind(modelList){
	//     var setData = $("#setModelList");
	//     for(var i = 0; i< modelList.length; i++)
	//     {
	//         var Data = modelList[i].CountryName;
	//     }
	//     setData.append(Data);
	// }


	// $(document).ready(function(){

	// 	$.ajax({
	// 			type: "GET",
	// 			dataType: "JSON",
	// 			url: "/Country/AllCountry",
	// 			success: function(data){
	// 				alert(data);
	// 			}
	// 		});
	// 	var countryname =      
	// });
</script>